---
import Layout from "@/layouts/Layout.astro";
import Contactform from '../components/ContactForm.astro';
---

<Layout
  title="Porfolio de Christian Valencia O. - Contacto"
  description="Contacta a Christian Valencia Ojeda para crear tu aplicación web. Desarrollador web y editor multimedia. Especializado en crear aplicaciones únicas."
>
<main>
    <Contactform/>
</main>

</Layout>